/* #2e2e36
#495058
#a67227
#e0b49b
#d1ced9 */

@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

html {
  background-color: #2e2e36;
  text-align: center;
  color: #d1ced9;
  padding-top: 10em;
}

a {
  color: #a67227;
}

h1 {
  font-family: "Rochester";
  text-transform: capitalize;
  font-size: 6rem;
  color: #e0b49b;
}
